In [5]:
import nltk
#nltk.download()
from nltk.book import *;

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [6]:
len(text2)

141576

In [9]:
text2[140:150]

['family', 'of', 'his', 'nephew', 'Mr', '.', 'Henry', 'Dashwood', ',', 'the']

In [11]:
s1 = 'hello'; s2 ='world'

In [13]:
''.join([s1,s2])

'helloworld'

In [27]:
from functools import reduce
x_text = reduce(lambda x, y: ''.join([x,y]), text2)
x_text[100:180]

'tewaslarge,andtheirresidencewasatNorlandPark,inthecentreoftheirproperty,where,fo'

In [23]:
word = 'google'
l_w = len(word)
for interval in range(1,100):
    for j in range(len(x_text)):
        if x_text[0 + j: l_w * interval + j : interval].lower() == word:
            print(f'{word} appears in the book from {j}th letter with the interval {interval}')

google appears in the book from 312852th letter with the interval 90

In [35]:
def searchWord(theWord, theText):
    l_w = len(theWord)
    for interval in range(1,100):
        for j in range(len(theText)):
            if theText[0 + j: l_w * interval + j : interval].lower() == theWord.lower():
                print(f'{theWord} appears in the book from {j}th letter with the interval {interval}')

word = input('enter a word')
searchWord(word, x_text)

enter a word biden

biden appears in the book from 238146th letter with the interval 13
biden appears in the book from 233777th letter with the interval 19
biden appears in the book from 95354th letter with the interval 21
biden appears in the book from 96228th letter with the interval 23
biden appears in the book from 466444th letter with the interval 33
biden appears in the book from 24399th letter with the interval 36
biden appears in the book from 283440th letter with the interval 39
biden appears in the book from 350177th letter with the interval 47
biden appears in the book from 470937th letter with the interval 49
biden appears in the book from 390741th letter with the interval 55
biden appears in the book from 62987th letter with the interval 62
biden appears in the book from 102995th letter with the interval 64
biden appears in the book from 263692th letter with the interval 89
biden appears in the book from 473883th letter with the interval 90

## list comprehension

In [38]:
range(10)

range(0, 10)

In [42]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

{i | 0 <= i < 10}

In [68]:
[2*i for i in range(0,20,3)]

[0, 6, 12, 18, 24, 30, 36]

$$ \{2i \mid <= i < 20, 3 \mid i\} $$

In [103]:
print([2**i - 1 for i in range(1,10)])

[1, 3, 7, 15, 31, 63, 127, 255, 511]

$$ \{2^i-1 \mid <= i < 20, 3 \mid i\} $$

generate list $ (x, cos(x)) $ for intervals $ \{ 0 \leq x < \pi \} $

In [108]:
import math
[[x, math.cos(x/10 * math.pi)] for x in range(1, 11)]

[[1, 0.9510565162951535],
 [2, 0.8090169943749475],
 [3, 0.5877852522924731],
 [4, 0.30901699437494745],
 [5, 6.123233995736766e-17],
 [6, -0.30901699437494734],
 [7, -0.587785252292473],
 [8, -0.8090169943749473],
 [9, -0.9510565162951535],
 [10, -1.0]]

write a code to generate all numhbers between 1 and 50 which is divisible by 7

In [112]:
[i for i in range(1,51) if i%7 == 0]

[7, 14, 21, 28, 35, 42, 49]

In [118]:
[n for n in range(1,101) if n%7==0 and n%11==0]

[77]

In [120]:
type('str')

str

In [143]:
x = ['sydney', 20, 'western', 4.3, 2333, [2,4,4]]
# write a code to get all the strings from the list and then get only all the numbers
# sort so strings first then numbers afterwords using only list comprehension
[item for item in x if isinstance(item, str)] + [item for item in x if type(item) != str]

['sydney', 'western', 20, 4.3, 2333, [2, 4, 4]]

In [141]:
x = ['sydney', 20, 'western', 4.3, 2333, [2,4,4]]
[[i for i in x if type(i) == str],[i for i in x if type(i) != str]]

[['sydney', 'western'], [20, 4.3, 2333, [2, 4, 4]]]

In [161]:
[(i,j) for i in range(1,5) for j in range(13,19,3)]

[(1, 13), (1, 16), (2, 13), (2, 16), (3, 13), (3, 16), (4, 13), (4, 16)]

$$ \{ (i,j) \mid 1 \leq i \leq 10, 5 \leq j \leq 15\} $$

In [178]:
import math
[i for i in range(1,51) if(math.sqrt(i)+math.sqrt(i+1) == math.sqrt(i+2).is_interger()) ]

AttributeError: 'float' object has no attribute 'is_interger'

In [180]:
[(m,n) for m in range(1,501) for n in range(m,501) if math.sqrt(m**2+n**2).is_integer() and n==m+1]

[(3, 4), (20, 21), (119, 120)]

In [205]:
x = ['sydney', [1,2,3], 3.5, 'hello', ['name','degree'], 12]
[item[0] for item in x if type(item) == list]

[1, 'name']

## graphs
plottly

### symbolic computation in library sympy

In [209]:
import sympy

In [211]:
def f(x):
    return 3*x + x

In [213]:
f(12)

48

In [215]:
f('test')

'testtesttesttest'

In [219]:
x = sympy.symbols('x')
f(x)

4*x

In [223]:
y = sympy.symbols('y')
x + y

x + y

In [225]:
(x+y)**2

(x + y)**2